# Unwoke SecureBlue. Not affiliated with secureblue.
# MIT License. Copyright (c) 2026 SeRgi270710267.
# UNWOKE-SHIPPED-FIRST
# Unwoke: V4L cameras and ALSA *capture* nodes (pcmC*D*c) mode 000.
# Playback pcmC*D*p is not matched. Revert: ujust set-camera-mic on
SUBSYSTEM=="video4linux", MODE="0000", OPTIONS+="nowatch"
KERNEL=="video[0-9]*", MODE="0000"
KERNEL=="media[0-9]*", MODE="0000"
SUBSYSTEM=="sound", KERNEL=="pcmC*D*c", MODE="0000"
