[Desktop Entry]
Name=Unwoke SecureBlue
X-KDE-PluginInfo-Name=UnwokeSecureBlue
X-KDE-PluginInfo-Author=Unwoke SecureBlue
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
